<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1>予定一覧</h1>
    <% @events.each do |event| %>
      <div>
        <%= event.title %><br>
        <%= event.start_time%><br>
        <%= event.end_time%><br>
      </div>
    <% end %>
</div>