<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1>
    <% if user_signed_in? %>
      <%= "#{current_nser.name}さんの予定一覧"%>
    <% elsif team_signed_in? %>
      <%= "#{current_team.name}の予定一覧" %>
    <% end %>
  </h1>
</div>