// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding-top: 50px;
}


.space{
  margin: 10px 10px;
}

.silver{
  background-color: #C0C0C0;
}

@media screen and (min-width:768px) {
  
  .height{
    height: 100vh;
  }
}

@media screen and (max-width:768px) {
    .height{
      height: 100px;
    }
  }

.padding-top{
  padding-top: 20px;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}

.bottom {
  padding-bottom: 30px;
}

.size {
  font-size: 20px;
}